.exercise-container { margin-bottom: 20px; }

.fitpress-postbox a.submitdelete { color: #A00; text-decoration: none; }

.fit-press-workout-title { display: block; padding: 8px; width: 100%; margin: 5px 0 20px; max-width: 320px; }

#fit-press-container { margin-top: 10px; }

#fit-press-exercises a { text-decoration: none; font-size: 14px; padding: 5px; }
#fit-press-exercises a.exercise-selected { display: none; }

ul.fit-press-exercise-list { list-style: none; padding-left: 0; margin: 10px 0 0; }

ul.fit-press-exercise-list li { padding-bottom: 8px; }

ul.fit-press-exercise-list input { max-width: 90px; }

input.reps-input { margin-left: 2px; }

.btn.add-set { padding: 3px 9px; }

.wp-core-ui .button.hide-copy { display: none; }

.fit-press-ex-label.reps { margin-left: 10px; }

.fit-press-exercise-header { display: inline-block; margin: 20px 0 0; font-size: 14px; }

.fit-press-action.remove-ex { padding-left: 20px; }

#fit-press-area-selector a { margin: 0 5px 5px 0; }

.fit-press-new-exercise-container { display: none; padding: 8px 0 16px; }
.fit-press-new-exercise-container input[type="text"] { padding: 10px; width: 100%; max-width: 400px; }
.fit-press-new-exercise-container h4 { margin-bottom: 0.5em; font-size: 1.2em; font-weight: 400; }
.fit-press-new-exercise-container .fit-press-new-exercise-cancel { color: #A00; text-decoration: none; }
.fit-press-new-exercise-container .body-part-terms-list { margin: 3px 0; }
.fit-press-new-exercise-container .body-part-terms-list li { display: inline-block; margin: 10px 10px 10px 0; }
.fit-press-new-exercise-container .clearfix { overflow: hidden; *zoom: 1; }
.fit-press-new-exercise-container .create-exercise { float: left; }

.postbox .fit-press-new-exercise-container .spinner { float: left; height: 20px; width: 20px; }

@media screen and (max-width: 780px) { th.column-exercises, th.column-workout_date, td.exercises, td.workout_date { display: none; } }
@media screen and (max-width: 780px) { .wp-core-ui.post-type-workout .button, .wp-core-ui.post-type-workout .button-primary, .wp-core-ui.post-type-workout .button-secondary { padding: 4px 8px; } }
/***************** FitPress dashboard styles *****************/
.fp-recent-workouts .fitpress-workout { width: 275px; margin: 0 20px 20px 0; background: white; padding: 0 10px 10px; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
.fp-recent-workouts .fp-workout-title a { margin: 0 -10px 5px; background: #444; color: white; padding: 5px 10px 10px; display: block; text-decoration: none; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }
.fp-recent-workouts .fp-workout-title a h4 { font: normal 18px 'Open Sans'; margin: 0; }
.fp-recent-workouts .fp-workout-title a a { color: white; text-decoration: none; }
.fp-recent-workouts table { border-collapse: collapse; width: 100%; margin-bottom: 10px; }
.fp-recent-workouts table thead { text-align: left; font: normal 14px 'Open Sans'; }
.fp-recent-workouts table td { padding: 5px; }
.fp-recent-workouts table tbody tr:nth-of-type(odd) { background: #fafafa; }
.fp-recent-workouts .fit-press-exercise-name { font: normal 16px 'Open Sans'; margin-bottom: 5px; }
.fp-recent-workouts .fit-press-exercise-name a { text-decoration: none; }
